* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: beige;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    border-top: 1em;
    border-left: 2em;
    border right: 1em;
    padding: 1em;
}

h1{
    text-align: center;
}

h2{
    text size: padding: 2em;
}

.flex-container {
    display: flex;
}


.flex-container {
    display: flex;
    flex-direction: row;

}


@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}