* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: coral;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    border-top: 1em;
    border-left: 2em;
    border right: 1em;
    padding: 1em;
}